.popup__container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 430px;
  min-height: 330px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 34px;
  padding-bottom: 37px;
  padding-right: 36px;
  padding-left: 36px;
  gap: 50px;
}

@media (max-width: 680px) {
  .popup__container {
    min-width: 380px;
  }
}

@media (max-width: 500px) {
  .popup__container {
    min-width: 280px;
    padding: 0 22px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
  }
}
