.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 680px) {
  .profile {
    flex-direction: column;
    gap: 36px;
  }
}
