.profile__subtitle {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  width: 336px;
  text-overflow: ellipsis;   
  white-space: nowrap;   
  overflow: hidden;
}

@media (max-width: 680px) {
  .profile__subtitle {
    width: 284px;
    text-align: center;
  }
}