.popup__close {
  background-image: url(../../../images/Close_Icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0);
  border-style: none;
  width: 40px;
  height: 40px;
  color: white;
  position: absolute;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition: opacity 1s ease;
  transition: color 1s ease;
}

.popup__close:hover {
  color: #ffffff;
  opacity: 0.6;
}

@media (max-width: 500px) {
  .popup__close {
    right: 0px;
    width: 26px;
    height: 26px;
    background-image: url(../../../images/Close_Icon_mobile.svg);
  }
}
