.profile__name {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: baseline;
  align-items: center;
  gap: 25px;
}

@media (max-width: 800px) {
  .profile__name {
    gap: 10px;
  }
}

