.element__like-button {
  background-image: url(../../../images/like-button.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 22px;
  min-height: 19px;
  border: none;
  background-color: #ffffff;
  opacity: 1;
  transition: opacity 1s ease;
  transition: color 1s ease;
  margin-left: 5px;
}

.element__like-button:hover {
  color: #ffffff;
  opacity: 0.5;
}
