.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 16px;
}

@media (max-width: 680px) {
  .profile__info {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }
}
