.element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  height: auto;
  object-fit: cover;
  position: relative;
  background-color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
